
; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
add:
; --- block saferoom-door jump to glitch-area
{
    ; invisible block over fence
    "origin" "-1048 2208 -100"
    "angles" "0 -45 0"
    "mins" "-200 0 0"
    "maxs" "0 20 80"
    "boxmins" "-200 0 0"
    "boxmaxs" "0 20 80"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block top of two tents near saferoom (to avoid tanks punching survs up there)
{
    ; invisible block above tents
    "origin" "-2163.5 1888.2 -150"
    "mins" "-2 -160 -100"
    "maxs" "278 10 220"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block tops of tents further down the corridor
{
    ; invisible block above tent
    "origin" "-2428 2119 -113"
    "angles" "0 160 0"
    "mins" "0 0 0"
    "maxs" "130 130 120"
    "boxmins" "0 0 0"
    "boxmaxs" "130 130 120"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above open tent
    "origin" "-2690 2131 -113"
    "angles" "0 -178 0"
    "mins" "0 0 0"
    "maxs" "130 130 120"
    "boxmins" "0 0 0"
    "boxmaxs" "130 130 120"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block top of unmarked food cart at concert entrance
{
    ; invisible block above food cart
    "origin" "-4094 3264 -10"
    "angles" "0 3 0"
    "mins" "-110 -56 -98"
    "maxs" "110 56 98"
    "boxmins" "-110 -56 -98"
    "boxmaxs" "110 56 98"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}

; --- block tops of awnings in starting area to prevent being punched on top of
{
    ; invisible block 
    "origin" "-1960 2261 -74"
    "mins" "-203 -22 -63"
    "maxs" "203 22 63"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}

; --- Block survivors from getting hit onto the 9 metal support beams underneath the stadium roof
{
    "origin" "-1275 2261 368"
    "mins" "-11 -506 -65"
    "maxs" "11 506 65"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    "origin" "-1544 2261 368"
    "mins" "-11 -506 -65"
    "maxs" "11 506 65"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    "origin" "-2060 2261 368"
    "mins" "-11 -506 -65"
    "maxs" "11 506 65"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    "origin" "-2296 2261 368"
    "mins" "-11 -506 -65"
    "maxs" "11 506 65"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    "origin" "-2549 2261 368"
    "mins" "-11 -506 -65"
    "maxs" "11 506 65"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    "origin" "-2822.5 2261 367.71"
    "mins" "-11.5 -506 -65"
    "maxs" "11.5 506 65"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    "origin" "-3065 2261 368"
    "mins" "-11.5 -506 -65"
    "maxs" "11.5 506 65"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    "origin" "-3318 2261 368"
    "mins" "-11.5 -506 -65"
    "maxs" "11.5 506 65"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}



; ====================================================
add:
{
	"classname" "prop_dynamic_override"
	"angles" "0 315 0"
	"disableshadows" "1"
	"model" "models/props_interiors/stair_metal_02.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-840 1792 136"
}
{
	"classname" "prop_dynamic"
	"angles" "45 224.5 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/barricade_gate001_64_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-986 2296 -255.75"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 0"
	"disableshadows" "1"
	"model" "models/props_pipes/pipeset02d_128_001a_fixednormals.mdl"
	"rendercolor" "255 255 255"
	"solid" "0"
	"origin" "-1115 2126 -148"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 0"
	"disableshadows" "1"
	"model" "models/props_pipes/pipeset02d_128_001a_fixednormals.mdl"
	"rendercolor" "255 255 255"
	"solid" "0"
	"origin" "-1025 2216 -148"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 0"
	"disableshadows" "1"
	"model" "models/props_pipes/pipeset02d_128_001a_fixednormals.mdl"
	"rendercolor" "255 255 255"
	"solid" "0"
	"origin" "-935 2306 -148"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 0"
	"disableshadows" "1"
	"model" "models/props_pipes/pipeset02d_128_001a_fixednormals.mdl"
	"rendercolor" "255 255 255"
	"solid" "0"
	"origin" "-845 2396 -148"
}
{
	"classname" "prop_dynamic"
	"angles" "45 224.5 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/barricade_gate001_64_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-1019 2330 -255.75"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 45"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-733 2242 318"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 45"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-682 2293 318"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 45"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-631 2344 318"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 45"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-580 2395 318"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 45"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-529 2446 318"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 45"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-478 2497 318"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 45"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-427 2548 318"
}
{
	"classname" "prop_dynamic"
	"angles" "0 45 45"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-376 2599 318"
}

add:
; --- make the pipes easier to climb
{
    ; first pipe
    "origin" "-1115 2126 -144"
    "angles" "0 45 0"
    "mins" "-75 0 0"
    "boxmins" "-75 0 0"
    "maxs" "75 15 10"
    "boxmaxs" "75 15 10"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; invisible step
    "origin" "-1143 2036 -184"
    "angles" "0 135 0"
    "mins" "-20 -10 -50"
    "boxmins" "-20 -10 -50"
    "maxs" "20 10 0"
    "boxmaxs" "20 10 0"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; extra pipes
    "origin" "-1025 2216 -144"
    "angles" "0 45 0"
    "mins" "-75 0 0"
    "boxmins" "-75 0 0"
    "maxs" "75 15 10"
    "maxs" "75 15 10"
    "boxmaxs" "75 15 10"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; extra pipes
    "origin" "-845 2396 -144"
    "angles" "0 45 0"
    "mins" "-75 0 0"
    "boxmins" "-75 0 0"
    "maxs" "75 15 10"
    "maxs" "75 15 10"
    "boxmaxs" "75 15 10"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}
{
    ; extra pipes
    "origin" "-935 2306 -144"
    "angles" "0 45 0"
    "mins" "-75 0 0"
    "boxmins" "-75 0 0"
    "maxs" "75 15 10"
    "maxs" "75 15 10"
    "boxmaxs" "75 15 10"
    "initialstate" "1"
    "BlockType" "2"
    "classname" "env_physics_blocker"
}

; --- Reduce volume of overhead fireworks

modify:
{
    match:
    {
        "targetname" "stage_fireworks_explode_sound"
    }
    replace:
    {
        "health" "2"
    }
}

add:
; --- Fix LOS under snack machines
{
	"classname" "logic_auto"
	"OnMapSpawn" "anv_mapfixes_losfix_snacks_smitty,AddOutput,mins -22 -1 -6,0,-1"
	"OnMapSpawn" "anv_mapfixes_losfix_snacks_smitty,AddOutput,maxs 22 1 6,0,-1"
	"OnMapSpawn" "anv_mapfixes_losfix_snacks_smitty,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "anv_mapfixes_losfix_snacks_jake,AddOutput,mins -46 -1 -6,0,-1"
	"OnMapSpawn" "anv_mapfixes_losfix_snacks_jake,AddOutput,maxs 46 1 6,0,-1"
	"OnMapSpawn" "anv_mapfixes_losfix_snacks_jake,AddOutput,solid 2,0,-1"
}
{
	"classname" "func_brush"
	"origin" "-2804 1779 134"
	"targetname" "anv_mapfixes_losfix_snacks_smitty"
}
{
	"classname" "func_brush"
	"origin" "-1800 1777 134"
	"targetname" "anv_mapfixes_losfix_snacks_jake"
}

; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================
; --- Fix props disappearing by toggling shadows on map start / round change
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "_props_shadow_fix,EnableShadow,,30,-1"
	"OnMapSpawn" "_props_shadow_fix,DisableShadow,,31,-1"
	; --- Props added by TLS
	"OnMapSpawn" "anv_mapfixes_helistuck_caseunique,EnableShadow,,30,-1"
	"OnMapSpawn" "anv_mapfixes_helistuck_caseunique,DisableShadow,,31,-1"
	"OnMapSpawn" "anv_mapfixes_helistuck_casecaster,EnableShadow,,30,-1"
	"OnMapSpawn" "anv_mapfixes_helistuck_casecaster,DisableShadow,,31,-1"
	"OnMapSpawn" "anv_mapfixes_missing_staircase,EnableShadow,,30,-1"
	"OnMapSpawn" "anv_mapfixes_missing_staircase,DisableShadow,,31,-1"
	"OnMapSpawn" "anv_mapfixes_yesdraw_infecteddoorway,EnableShadow,,30,-1"
	"OnMapSpawn" "anv_mapfixes_yesdraw_infecteddoorway,DisableShadow,,31,-1"
	"OnMapSpawn" "anv_mapfixes_yesdraw_infectedroom,EnableShadow,,30,-1"
	"OnMapSpawn" "anv_mapfixes_yesdraw_infectedroom,DisableShadow,,31,-1"
	; --- Disable shadows early on props added that start with shadows enabled to ensure the fix works
	"OnMapSpawn" "anv_mapfixes_yesdraw_infecteddoorway,DisableShadow,,29,-1"
	"OnMapSpawn" "anv_mapfixes_yesdraw_infectedroom,DisableShadow,,29,-1"
	
}

; =====================================================
; ==             GFX / PARTICLES REMOVAL             ==
; ==        Remove visual effects from the map       ==
; =====================================================
; --- Stop fireworks from firing forever during 2nd tank
modify:
{
	match:
	{
		"targetname" "fireworks_relay"
	}
	delete:
	{
		"OnTrigger" "fireworks_relayTrigger3.1-1"
	}
}

; ###############  TRIGGERS AND BRUSHES  ##############
; =====================================================
; ==                   CLIP REMOVAL                  ==
; ==      Remove miscellaneous clips and brushes     ==
; =====================================================
; --- Remove TLS infected clips after loading
add:
{
	"classname" "logic_auto"
	; --- Remove axis warp and clip under the seating area
	"OnMapSpawn" "anv_mapfixes_axiswarp_anvilcase_trigmult,Kill,,10,-1"
	"OnMapSpawn" "anv_mapfixes_axiswarp_anvilcase_clip,Kill,,10,-1"
	; --- Remove axis warps and clips by fire escapes
	"OnMapSpawn" "anv_mapfixes_axiswarp_sodapop1_trigmult,Kill,,10,-1"
	"OnMapSpawn" "anv_mapfixes_axiswarp_sodapop1_clip,Kill,,10,-1"
	"OnMapSpawn" "anv_mapfixes_axiswarp_sodapop2_trigmult,Kill,,10,-1"
	"OnMapSpawn" "anv_mapfixes_axiswarp_sodapop2_clip,Kill,,10,-1"
}

; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================
add:
; --- Ladders on the sides of the stage
{
	"classname" "func_simpleladder"
	"origin" "-6895.5 5999 -440"
	"angles" "0 180 0"
	"model" "*102"
	"normal.x" "-1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "2287.5 683 -440"
	"angles" "0 0 0"
	"model" "*102"
	"normal.x" "1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Ladder into the room next to the stage
{
	"classname" "func_simpleladder"
	"origin" "528 -2 -112"
	"angles" "0 0 0"
	"model" "*98"
	"normal.x" "0.00"
	"normal.y" "-1.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Pipe prop for ladder
{
	"classname" "prop_dynamic"
	"origin" "-3200 3712 -48"
	"angles" "0 0 0"
	"model" "models/props_rooftop/gutter_pipe_256.mdl"
	"solid" "0"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
; --- Ladder on other side of truck by the forklift
{
	"classname" "func_simpleladder"
	"origin" "-2652 7131 -3"
	"angles" "0 180 0"
	"model" "*46"
	"normal.x" "-1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Ladder into room under the seating area
{
	"classname" "func_simpleladder"
	"origin" "383 6547.5 -453"
	"angles" "0 90 0"
	"model" "*102"
	"normal.x" "0.00"
	"normal.y" "1.00"
	"normal.z" "0.00"
	"team" "2"
}
